@import '../../../../assets/css/var.scss';
.slider{
  position: relative;
  margin-top: 40px;
  margin-bottom: 90px;
  img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
  }
  &__title{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    max-width: 379px;
    span{
      color: $green;
    }
  }
}
@media(max-width:1024px){
  .slider{
    margin-top: 15px;
    margin-bottom: 40px;
  }
}