.products{
  margin-bottom: 80px;
  &__head{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 40px;
    .title{
      margin-bottom: 0;
    }
  }
  &__more{
    color: #8e9499;
    display: flex;
    align-items:center;
    img{
      width: 24px;
      opacity: 0.6;
    }
  }
}
@media(max-width:1024px){
  .products{
    margin-bottom: 60px;
  }
}