@import '../../../../assets/css/mixin.scss';
.partner{
  &__box{
    border: 1px solid #e6e9ec;
    background-color: #f8f8f8;
    height: 84px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 90%;
      max-width: 90%;
      object-fit: contain;
    }
  }
  .row{
    margin-left: -5px;
    margin-right: -5px;
  }
  &__col{
    @include fb(percentage(2/12),5px,5px)
  }
}
@media(max-width:600px){
  .partner{
    &__col{
      @include fb(20%);
      padding:5px;
    }
  }
}
@media(max-width:425px){
   .partner{
     &__col {
       @include fb(25%);
       padding: 5px;
     }
   }
}