 @import '../../assets/css/mixin.scss';
 .card {
   
   &__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
   }
   &__pict {
     @include fb(421px);
   }
   &__info{
     @include fb(calc(100% - 421px))
   }
   &__subtitle{
     font-size: 22px;
     font-weight: 700;
     margin-bottom: 8px;
   }
   p{
     font-size: 16px;
     line-height: 26px;
   }
  }
 @media(max-width:1024px){
   .card {
     &__pict {
       @include fb(350px);
     }
     &__info{
       @include fb(calc(100% - 350px))
     }
   }
 }
@media(max-width:768px){
  .card{
    &__info{
      @include fb (100%);
      display: flex;
      flex-direction: column;
    }
  }
}