@import '../../../../assets/css/var.scss';

.catnav{
  &__link {
    border: 1px solid $yellow;
    box-shadow: 0px 2px 0px #c8803e;
    border-radius: 10px;
    background-color: $green;
    display: flex;
    height: 132px;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-end;
    font-size: 26px;
    line-height: 30px;
    padding-right: 90px;
    &:hover{
      background-color: darken($green,10%);
      &>img{
        transform: scale(1.1);
      }
    }
    &.big{
      height: 289px ;
      align-items: start;
      padding-top: 33px;
      justify-content: center;
      padding-right: 0;
      &>img{
        bottom:0;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.5s;
        max-width: 100%;
      }
    }
    &>img{
      position: absolute;
      bottom: 16px;
      left: 22px;
    }
    span{
      display: flex;
      align-items:center;
      font-weight: 700;  
     
    }
  }
}
@media(max-width:1024px){
  .catnav{
    &__link{
      padding-right: 60px;
    }
  }
}
@media(max-width:768px){
  .catnav{
    margin-bottom: 30px;
    .col-40{
      width: 100%;
      display: flex;
      gap: 30px;
    }
    .col-30{
      width: 50%;
    }
    &__link{
      text-align: center;
      height: auto;
      padding: 10px;
      justify-content: center;
      width: 50%;
      margin-bottom: 0;
      &.big{
        height: auto;
        width: 100%;
        padding: 10px;
      }
      &>img{
        display: none;
      }
    }
  }
}
@media(max-width:425px){
  .catnav {
    .col-40{
      display: block;
      padding-bottom: 0;
    }
    .col-30{
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
    &__link {
      width: 100%;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}