.breadcrumbs {
  display: flex;
  margin: 20px 0 40px;
  a{
    color: #8e9499;
    font-size: 14px;
    line-height: 21px;
    &:hover{
      color:#333;
    }
  }
  li {
    &:after{
      content: '/';
      margin: 0px 4px;
      color: #8e9499;
    }
    &:last-child{
      a{
        color: #333;
      }
      &::after{
        content: unset;
      }
    }
  }
}
