
@import'../../../../assets/css/var.scss';
@import'../../../../assets/css/mixin.scss';
.quote{
  &__bottom{
    display: flex;
    flex-wrap: wrap;
    padding: 24px 26px;
  }
            
  &__line{
    width: 85px;
    margin-right: 10px;
    height: 8px;
    border-radius: 4px;
    border:1px solid #e6e9ec;
    position: relative;
    span{
      position: absolute;
      background-color: $green;
      height: 8px;
      top: -1px;
      left: -1px;
      border-radius: 4px;
    }
  }
  &__lvl{
    width: 33.33%;
    padding: 5px 26px;
    display: flex;
    align-items: center;
  } 
  &__center{
    border-bottom: 1px solid #dfe3e7;
    display: flex;
  }
  &__marks{
    width: 33.33%;
    padding: 15px 26px;
    display: flex;
    align-items: center;
    border-right: 1px solid #dfe3e7;
    &:last-child{
      border-right: 0;
    }
    b{
      margin-right: 7px;
    }
  }
  &__box{
    border: 1px solid #e6e9ec;
    border-radius: 10px;
    background-color: #f8f8f8;
    position: relative;
    margin-bottom: 54px;
  }
  &__date{
    background-color: #333333;
    color: $green;
    font-size: 12px;
    font-family: 600;
    position: absolute;
    right: 26px;
    padding: 6px 9px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__head{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    img{
      margin-right: 16px;
    }
  }
  &__name{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
  }
  &__top{
    padding: 26px;
    border-bottom: 1px solid #dfe3e7;
  }
}
@media(max-width: 1024px){
  .quote{
    &__bottom{
      gap: 10px;
      padding: 15px;
    }
    &__lvl{
      @include fb(calc(33.33% - 10px));
      padding: 0;
    }
    &__top,
    &__marks{
       padding: 15px;
    }
  }
}
@media(max-width:768px){
  .quote{
    &__center{
      flex-direction: column;
      gap: 8px;
      padding: 15px;
    }
    &__lvl,
    &__maks{
      @include fb(100%);
      padding: 0;
    }
    &__button{
      flex-direction: column;
    }
  }
}